{% extends 'base.html' %}
{% block head%}
        {{super()}}

        <link rel="stylesheet" type="text/css" href ="/static/home.css">
    
{%endblock%}

{% block content %}
<div class ="container-fluid mt-0 pt-0 homesider ">
     <div class=" cont text-center  text-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed tempora laborum, <br>
    ipsum tempore incidunt quam eum vero, omnis minus atque praesentium eaque, <br>
   adipisci fuga mollitia earum facere quibusdam ullam aperiam. <br>
    
</div> 
 
</div>
{% endblock %}