body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);

}

.form_container{
  background-color: rgba(255, 255, 255, 0.449);
  border-radius: 32px;
  width: 40vw;
  font-size: 18px;
  
  height: 100vh;
  margin: 10px;

  -moz-box-shadow: 21px 15px 5px 1px rgba(0,0,0,0.29);
  box-shadow: 21px 15px 5px 1px rgba(0,0,0,0.29); 
  -webkit-box-shadow: 7px 15px 65px 15px rgba(15, 6, 4, 0.86);
  -moz-box-shadow: 7px 15px 65px 15px rgba(14, 3, 2, 0.86);
  box-shadow: 7px 15px 65px 15px rgba(15, 4, 2, 0.86);
  color:white;
  z-index: 5;

}
.mail{
  border-bottom-width: 3px;
  border-bottom-color: purple;
  width: 30%;
  margin-left: 15px;
  
}